* {
	margin : 0;
	padding : 0;
	border : 0;
}

#content {
	margin: 0 auto;
	width : 520px;
}

canvas {
	margin-bottom : 60px;
}

p {
	text-align : right;
	font-family : Helvetica, arial, sans-serif;
	color : darkGray;
	font-size : 14px;
}

a {
	color : darkGray;
}